snippet rnc
import React, { Component } from "react";
import { View, Text, StyleSheet } from "react-native";

class ${1:componentName} extends Component {
	render() {
		return (
			<View />
		);
	}
}

export default $1;
endsnippet

snippet im "ES6 Import"
import $1 from "$2";
endsnippet
	
snippet ds "datasource"
const ds = new ListView.DataSource({rowHasChanged: (r1, r2) => r1 !== r2});
endsnippet
	
